#submit-form {
	margin-bottom: 70px;
}

p {
	font-size: 12px;
	color: red;
	font-weight: bold;
	text-align: center;
	display: block;
	margin: 0 auto;
}

#success-submit {
	font-size: 20px;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}