@-ms-viewport{
  width: device-width;
}

body {
	background-color: #f6f6f6;
	color: #795548;
}

#submit-form {
	margin-bottom: 70px;
}

p {
	font-size: 12px;
	color: red;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-left: 50px;
}

h5 {
	margin-bottom: 15px;
	margin-left: 10px;
}

th {
	padding-left: 15px;
}

td {
	padding-left: 15px;
}

#success-submit {
	font-size: 20px;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

.welcome h3 {
	text-align: center;
	color: #26A69A;
}

.welcome p {
	color: #795548;
	font-size: 20px;
	margin-left: 5px;
}

.form {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 30px;
	margin-bottom: 50px;
}

#search-form {
	background-color: white;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.search-row-old {
	text-decoration: line-through;
}

